@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

.topside {
    margin-left: 170px;
    display: flex;
    flex-direction: column;

}



.dots {
    text-align: center;
    margin-top: 10px;
}


.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #555;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #846f63;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}




.topside h1 {
    color: #846F63;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    /* 140% */
    letter-spacing: -2px;
    margin-left: 0px;
}


.topside h3 {
    color: #846F63;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 25px;
    font-style: italic;
    font-weight: 600;
    line-height: 70px;
    /* 280% */
    letter-spacing: -1px;
    margin-top: -30px;

}

/* Add this to your CSS file (vitalblood.css) */



.image2 img {
    width: 170px;
    height: 390px;
    margin-top: -21.5%;
    margin-left: 28%;
    border-radius: 25px;
    padding-top: 20px;
    margin-bottom: -40px;
}

.gradient-background {
    background: linear-gradient(to bottom, #F5EBE0, white);
    margin-top: 60px;
}

.textblood {
    width: 1000px;
    height: 200px;
    color: #7E5C3B;
    text-align: justify;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 28px */
    letter-spacing: -0.4px;
    margin-left: 28%;
    margin-top: 16%;
    padding-bottom: 2.5%;
}

.links-single a {
    text-decoration: none;
    color: #fff;
    background-color: #846f63;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid #846f63;
    border-radius: 35px;
    padding: 15px;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    width: 150px;
    height: 32px;
    font-weight: 700;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;




}

.slider-arrows {
    padding-right: 30%;
}


.custom-slider img {
    width: 900px;
    height: auto;
    padding-left: 35%;

}


.links-single {
    width: 300px;
    margin-top: -20%;
    margin-left: 150px;
}

.bloodproject {
    margin-top: -50px;
}

.topside {
    margin-left: 170px;
    display: flex;
    flex-direction: column;
}







@media screen and (max-width: 844px) {

    /* Styles specific to phones (max width 768px) */
    .topside {
        margin-left: 10px;
    }

    .links-single {
        margin-left: 0;
        margin-top: 30px;

    }

    .links-single a {
        width: 150px;
        height: 35px;

    }


    .topside h1 {
        font-size: 50px;
    }

    .topside h3 {
        font-size: 18px;
        margin-top: -20px;
        margin-left: 0;
        text-align: center;
    }

    .custom-slider img {
        padding-left: 0;
        width: 100%;
        height: 250px;

    }

    .slider-arrows {
        display: none;
    }



    .image2 img {
        display: none;
        border-radius: 35px;
        position: absolute;
        z-index: 2;
        margin-top: 20px;
    }

    .textblood {
        width: 100%;
        font-size: 16px;
        line-height: 120%;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 20%;
    }

    .links-single a {


        margin-left: 0;
        justify-content: center;
        /* Center text within the container */

    }

    .links-single {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Center horizontally */
        justify-content: center;
        /* Center vertically */
    }
}

@media screen and (max-width: 1100px) and (min-width: 844px) {
    .slider img {
        width: auto;
        height: auto;

    }

    .links-single {
        margin-left: 200px,
    }

    .textblood {
        margin-bottom: -10%ss;
    }
}